.footer {
  display: flex;
  padding: 0 45px 0 45px;
  justify-content: space-between;
  height: 160px;

  img {
    width: 80px;
    height: 110px;
  }
  &_text {
    display: flex;
    align-items: center;
    span {
      color: white;
      font-style: italic;
    }

  }


}
