html,
body {
  padding: 0;
  margin: 0;
  background-color: #673774;
  overflow:  hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, sans-serif;
}

.container {
  min-height: calc(100vh - 160px);
}